# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
.vscode/settings.json

#node_modules
node_modules

#eslint
eslint.config.mjs

#package
package.json
package-lock.json